<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
      <a href="<%= root_url %>#intro" class="scrollto"><img src="/assets/img/logo.png" alt="" title=""></a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="<%= root_url %>#intro">Home</a></li>
        <li><a href="<%= root_url %>#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#how">How It Works</a></li>
        <li><a href="<%= thredded_url %>">Forum</a></li>
        <li><a href="<%= downloads_url %>">Downloads</a></li>
        <%= render 'ado-landing-pages/partials/signup_nav_item' %>
        <li class="buy-tickets"><a href="<%= activation_url %>">Buy Licenses</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->


