<h2>Download <%= app_name %> Software Image</h2>

<p>Direct link - <a href="<%= ENV['DOWNLOADS_URL'] %>"><%= ENV['DOWNLOADS_TEXT'] %></a></p>
<p>The file contains a <code>.img</code> (Raspbian image) file which can be flashed into a micro SD card for raspberry pi 3.</p>

<h3>Booting from USB Mass Storage</h3>
<p class="alert alert-info"><strong>NOTE: This is only for RPI 3. RPI 3+ already boots from USB out of the box.</strong><br>To boot from USB, install first the image to sd card and boot your RPI. After successful boot from SD card, install the image again this time to your USB flash drive. Remove the SD card from RPI and insert the USB flash drive. Finally, boot your RPI with only your USB flash drive.</p>
<hr>
<h3>Change Logs</h3><a href="<%= main_app.changelogs_url %>">View software change logs</a>
<hr>
<h3>Installatin Guide</h3>
<p>
  Please follow our <%= link_to "installation guide", guide_url(subdomain: "www") %>.
</p>
<hr>

<%= render 'ado-landing-pages/partials/trial_period' %>
