

  <div class="container">
    <%= render 'ado-landing-pages/checkout/session_nav' %>

    <h3 class="text-right">
      <%= link_to view_cart_path do %>
        Your Cart
        <i class="fa fa-shopping-cart"></i>
        (<%= cart_count(@cart) %>)
      <% end %>
    </h3>

  </div>

  <section id="buy-tickets" class="section-with-bg wow fadeIn">
    <div class="container">

      <div class="section-header">
        <h2>Buy License Key</h2>
        <%#<p>Velit consequatur consequatur inventore iste fugit unde omnis eum aut.</p>%>
        <p>
        The license key(s) will be sent to your email <% if user_signed_in? %><b><%= current_user.email %></b><% end %> and will also be shown in the screen after purchasing.
        </p>
      </div>


      <% @packages.each_with_index do |p, i| %>

        <% if i % 2 == 0 %>
          <div class="row" style="margin-top: 20px;">
          <% end %>

          <div class="col-lg-6">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center"><%= p.name %></h5>
                <h6 class="card-price text-center"><%= number_to_currency(p.price,  unit: @currency) %></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>
                    Activate
                    <% if p.volume == 1 %>
                      only
                    <% end %>
                    <strong>
                      <%= p.volume %>
                    </strong>
                    wifi vendo machine<%= if p.volume > 1 then 's' else '' end %>
                  </li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimitted WiFi Users</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Online Remote Access</li>
                  <% if p.volume >= 10 %>
                    <li class="text-danger"><span class="fa-li"><i class="fa fa-check"></i></span>Exclusive For Distriibutors</li>
                  <% else %>
                    <li class="text-success"><span class="fa-li"><i class="fa fa-check"></i></span>Available For All</li>
                  <% end %>

                </ul>
                <hr>
                <div class="text-center">

                  <% if saved_price(p.price, p.volume) == 0 %>
                    <p>Regular Price</p>
                  <% else %>
                    <p class="text-success">
                    Save
                    <%= number_to_currency(saved_price(p.price, p.volume), unit: @currency) %>
                    </p>
                  <% end %>

                  <form method="POST" action="<%= add_to_cart_path %>">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                    <input type="hidden" value="<%= p.id %>" name="package_id">
                    <%#<button>Add to Cart</button>%>
                    <button type="submit" class="btn">Buy Now</button>
                  </form>

                </div>
              </div>
            </div>
          </div>

          <% if i % 2 == 1 %>
            </div>
          <% end %>

        <% end %>

    </div>

    <hr>

    <section class="text-center">
      <img src="/assets/checkout/instapay.png" style="width: 100%; max-width: 250px;">
    </section>

  </section>

  <section class="container ado-landing-pages section">
    <h3>Payment Methods</h3>
    <!--<p>-->
    <!--Coins.ph wallet: <strong>3NtzxpxqfPYJuYdAV5aSMcYCYLV76LA7Wg</strong>-->
    <!--</p>-->
    <p>
    For those with no paypal accounts, you can send the payment through <b>bank deposite to Unionbank</b>. Please email to <a href="mailto:support@adopisowifi.com">support@adopisowifi.com</a> for details.
    </p>
    <h3>
      Trial Period
    </h3>
    <p>
    The software has a trial period of
    <b>
      10 days and maximum of 2 connected users at a time
    </b>
    . After the trial period, the software will ask for
    <b>activation code</b>.
    You can pay for the activation code using the payment methods described above. When you purchase from the website, the activation code will be sent to you via email and will also be printed on the screen after purchasing.
    </p>

    <h3>
      License Agreement
    </h3>

    <p>
    License key is
    <b>
      lifetime and does not expire.
    </b>
    Once activated, the software will not ask again for activation key even if you reinstall the software image to sd card.
    The license is bound to the Micro SD card so make sure to <b>use a high quality sd card</b>. A good sd card will last for many years.
    In case the sd card is broken, you can transfer the license to the new sd card by <b>revoking the license</b> in the
    <a href="<%= main_app.monitor_url %>">AdoPisoWiFi Remote Management</a>. Prices of our online services may change without prior notice.
    </p>
  </section>


