<% content_for :header do %>
  <%= render 'ado-landing-pages/partials/activation_header' %>
<% end %>

<div class="container">
  <%= render 'ado-landing-pages/checkout/session_nav' %>


  <h3 class="text-right">
    <%= link_to view_cart_path do %>
      Your Cart
      <i class="fa fa-shopping-cart"></i>
      (<%= cart_count(@cart) %>)
    <% end %>
  </h3>

</div>

<%= render 'ado-landing-pages/partials/paypal_warning' %>

<section id="buy-tickets" class="section-with-bg wow fadeIn">
  <div class="container">

    <div class="section-header">
      <h2>Buy License Key</h2>
      <%#<p>Velit consequatur consequatur inventore iste fugit unde omnis eum aut.</p>%>
      <p>
      The license key(s) will be sent to your email <% if user_signed_in? %><b><%= current_user.email %></b><% end %> and will also be shown in the screen after purchasing.
      </p>
    </div>


    <% @packages.each_with_index do |p, i| %>

      <% if i % 2 == 0 %>
        <div class="row" style="margin-top: 20px;">
        <% end %>

        <div class="col-lg-6">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center"><%= p.name %></h5>
              <h6 class="card-price text-center"><%= number_to_currency(p.price,  unit: @currency) %></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-check"></i></span>
                  Activate
                  <% if p.volume == 1 %>
                    only
                  <% end %>
                  <strong>
                    <%= p.volume %>
                  </strong>
                  wifi vendo machine<%= if p.volume > 1 then 's' else '' end %>
                  </li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Unlimitted WiFi Users</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Online Remote Access</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Lifetime License</li>
                  <li><span class="fa-li"><i class="fa fa-check"></i></span>Free software updates</li>
                  <% if p.volume >= 10 %>
                    <li class="text-danger"><span class="fa-li"><i class="fa fa-check"></i></span> <%= link_to "Exclusive For Distributors", "/blog/articles/how-to-be-a-distributor" %></li>
                  <% else %>
                    <li class="text-success"><span class="fa-li"><i class="fa fa-check"></i></span>Available For All</li>
                  <% end %>

              </ul>
              <hr>
              <div class="text-center">

                <% if saved_price(p.price, p.volume) == 0 %>
                  <p>Regular Price</p>
                <% else %>
                  <p class="text-success">
                  Save
                  <%= number_to_currency(saved_price(p.price, p.volume), unit: @currency) %>
                  </p>
                <% end %>

                <form method="POST" action="<%= add_to_cart_path %>">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <input type="hidden" value="<%= p.id %>" name="package_id">
                  <%#<button>Add to Cart</button>%>
                  <button type="submit" class="btn">Buy Now</button>
                </form>

              </div>
            </div>
          </div>
        </div>

        <% if i % 2 == 1 %>
          </div>
        <% end %>

      <% end %>

  </div>

  <hr>

  <section class="text-center">
    <%= image_tag "checkout/instapay.png", style: 'width: 100%; max-width: 250px;' %>
  </section>

</section>

<section class="container ado-landing-pages section">
  <h3>Payment Methods</h3>
  <p>
  For those with no paypal accounts, you can send the payment through <b>bank deposite to Unionbank</b>. Please email to <a href="mailto:<%= support_email %>"><%= support_email %></a> for details.
  </p>

  <%= render 'ado-landing-pages/partials/trial_period' %>

  <h3>
    License Agreement
  </h3>
  <p>
  License key is
  <b>
    lifetime and does not expire.
  </b>
  Once activated, the software will not ask again for activation key even if you reinstall the software image to sd card.
  You are also elligible for new software updates and gain access to new features along the way.
  In case some of your components failed, you can reactivate the license by <b>revoking the license</b> in the
  <a href="<%= main_app.monitor_url %>">AdoPiSoft Remote Management</a>. Prices of our online services may change without prior notice.
  </p>
</section>


