<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48961811-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-48961811-3');
    </script>

    <meta charset="utf-8">
    <title>AdoPiSoft | <%= @page_title or "WiFi Hotspot Mangement Software"%></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'ado-landing-pages/partials/favicons' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <%= stylesheet_link_tag "ado-landing-pages", media: "all", 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
    <!-- =======================================================
      Theme Name: TheEvent
      Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
      ======================================================= -->
  </head>

  <body class="ado-landing-pages">

    <% if content_for?(:header) %>
      <%= yield :header %>
    <% else %>
      <%= render 'ado-landing-pages/partials/header' %>
    <% end %>

    <% if content_for?(:content) %>
      <%= yield :content %>
    <% else %>
      <div class="container">
        <div class="section">
          <%= yield %>
        </div>
      </div>
    <% end %>

    <% if content_for?(:footer) %>
      <%= yield :footer %>
    <% else %>
      <%= render 'ado-landing-pages/partials/footer' %>
    <% end %>

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <%= javascript_include_tag 'ado-landing-pages', 'data-turbolinks-track': 'reload' %>

    <%= yield :javascripts %>

    <%= render 'ado-landing-pages/partials/flash' %>

  </body>

</html>
